.footer {
    width: 100%;
    background-color: #0065c3;
    font-size: 14px;

    a {
        color: inherit;
    }

    .contact-details {
        img {
            width: 24px;
        }
    }

    .logo {
        width: 150px;
    }

    .copyright {
        margin-top: 12px;
        color: #010e29;
        white-space: nowrap;
    }
}
